@import url('../support/bootstrap.scss');
@import url('../../../node_modules/material-icons/iconfont/material-icons.scss');

@import url('./components/header.scss');
@import url('./components/footer.scss');
@import "../../atoms/theme/components/colors.scss";
.bgColor {
    background-color: $color-light-grey;
}

body {
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
    background-color: $color-light-grey;
}

.mainContainer {
    background-color: $color-white;
    padding-top: 0.5rem;
    padding: 1.5rem 15px;
    
    a{
        text-decoration: none;
        color: #4D4D4D;
    }

    @media(min-width: 576px) {
        padding: 1.5rem 3rem;
    }
}
