
.header {
    background: transparent;
    color: #020202;
    font-weight: 700;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.brandPart1 {
    font-size: 35px;
}

.brandPart2 {
    align-self: flex-end;
}